@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playwrite+DE+Grund:wght@100..400&display=swap");

* {
  color: white;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Architects Daughter", cursive;
}

p,
ul,
li {
  font-family: "Playwright", sans-serif;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* HomeCard Styling start */
.HomeCard-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  min-height: calc(
    100vh - 100px
  ); 
  background-color: black;
}

.card-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 60%;
  max-width: 900px;
  margin-top: 20px; 
  background-color: black;
}

.card {
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 350px;
  height: 400px;
  padding: 20px;
  margin: 20px;
  text-align: center;
  color: black;
  transition: transform 0.3s;
  display: flex;
  flex-direction: column;
}

.card:hover {
  transform: translateY(-10px);
  cursor: pointer;
}

.card:not(:last-child) {
  margin-right: 20px;
}

.card h2 {
  margin-bottom: 10px;
  font-size: larger;
}

.card img {
  max-width: 100%;
  border-radius: 5px;
  margin-bottom: 10px;
  align-self: center;
}

/* Responsive Layout */
@media (max-width: 768px) {
  .card-container {
    flex-direction: column;
    align-items: center;
  }

  .card {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
  }
}
/* HomeCard Styling end */

/* Footer start */
.footer {
  background-color: black;
  padding: 20px;
  text-align: center;
  bottom: 0;
  width: 100%;
  margin-top: 100px;
}

.footer-content {
  max-width: 960px;
  margin: 0 auto;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-links {
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
}

.footer-link {
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  font-size: large;
  color: white;
  margin: 5px 0;
}

.footer-link:hover {
  color: lightblue;
}

.footer-icon {
  margin-right: 5px;
  width: 20px;
  height: 20px;
}

/* Responsive Design */
@media (max-width: 768px) {
  .footer-content {
    padding: 20px;
  }

  .footer-links {
    flex-direction: column;
    align-items: center;
  }
}
/* Footer end */

/* Register Styling start */
.register-container {
  max-width: 300px;
  margin: auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.register-container h2 {
  text-align: center;
  margin-bottom: 20px;
}

.register-container input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.register-container .error-message {
  color: red;
  text-align: center;
  margin-bottom: 10px;
}

.register-container button {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: white;
  cursor: pointer;
}

.register-container button:hover {
  background-color: #0056b3;
}

.register-container button:nth-child(2) {
  background-color: #6c757d;
}

.register-container button:nth-child(2):hover {
  background-color: #5a6268;
}
/* Register Styling end */

/* Login Styling start */
.login-container {
  max-width: 300px;
  margin: auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.login-container h2 {
  text-align: center;
  margin-bottom: 20px;
  color: black;
  font-size: x-large;
  font-weight: 600;
}

.login-container input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  color: black;
}

.login-container .error-message {
  color: red;
  text-align: center;
  margin-bottom: 10px;
}

.login-container button {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: white;
  cursor: pointer;
}

.login-container button:hover {
  background-color: #0056b3;
}

/* Login Form Styling Start */
.register-button {
  background-color: #4caf50;
  border: none; 
}

.login-container .register-button:hover {
  background-color: #45a049;
}
/* Login Styling end */
