extends layout

block content
  .welcome-container
    .welcome-header
      h1 #{title}
    .welcome-message
      p Welcome to the #{title} page! We're glad to have you here.
      p
        | This is a platform where you can find and share your favorite recipes,
        | explore new culinary ideas, and connect with a community of food enthusiasts.
    

  // Optional: Add some footer content
  .welcome-footer
    p &copy; 2024 RecipEZ. All rights reserved.
